USE [master]
GO
/****** Object:  Database [EnergyManagementDB]    Script Date: 01-09-2026 16:06:04 ******/
CREATE DATABASE [EnergyManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnergyManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EnergyManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnergyManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EnergyManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnergyManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnergyManagementDB]
GO
/****** Object:  Table [dbo].[Alerts]    Script Date: 01-09-2026 16:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[AlertID] [int] IDENTITY(5001,1) NOT NULL,
	[FacilityID] [int] NOT NULL,
	[MeterID] [int] NOT NULL,
	[EventTimestamp] [datetime] NOT NULL,
	[SurgeReadingKW] [decimal](8, 2) NOT NULL,
	[ThresholdLimitKW] [decimal](8, 2) NOT NULL,
	[Severity] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumptionLogs]    Script Date: 01-09-2026 16:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumptionLogs](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[MeterID] [int] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Voltage] [decimal](6, 2) NOT NULL,
	[CurrentAmps] [decimal](6, 2) NOT NULL,
	[PowerKW] [decimal](8, 2) NOT NULL,
	[PeakHour] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergyMeters]    Script Date: 01-09-2026 16:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergyMeters](
	[MeterID] [int] IDENTITY(1001,1) NOT NULL,
	[MeterSerialNumber] [varchar](50) NOT NULL,
	[FacilityID] [int] NOT NULL,
	[LocationZone] [varchar](50) NOT NULL,
	[MaxVoltageCapacity] [decimal](8, 2) NOT NULL,
	[BaseTariffRate] [decimal](6, 4) NOT NULL,
	[InstallationDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsIndustrial] [bit] NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MeterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 01-09-2026 16:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilities](
	[FacilityID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityName] [varchar](100) NOT NULL,
	[LocationZone] [varchar](50) NOT NULL,
	[ContactEmail] [varchar](100) NOT NULL,
	[GridRegion] [varchar](50) NOT NULL,
	[MaxCapacityKW] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01-09-2026 16:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-09-2026 16:06:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON 

INSERT [dbo].[Alerts] ([AlertID], [FacilityID], [MeterID], [EventTimestamp], [SurgeReadingKW], [ThresholdLimitKW], [Severity], [Status], [Notes]) VALUES (5001, 1, 1001, CAST(N'2026-09-01T11:23:41.180' AS DateTime), CAST(10.00 AS Decimal(8, 2)), CAST(90.00 AS Decimal(8, 2)), N'Low', N'Resolved', N'')
INSERT [dbo].[Alerts] ([AlertID], [FacilityID], [MeterID], [EventTimestamp], [SurgeReadingKW], [ThresholdLimitKW], [Severity], [Status], [Notes]) VALUES (5002, 2, 1001, CAST(N'2026-09-01T11:23:41.217' AS DateTime), CAST(10.00 AS Decimal(8, 2)), CAST(90.00 AS Decimal(8, 2)), N'Low', N'Dismissed', N'')
INSERT [dbo].[Alerts] ([AlertID], [FacilityID], [MeterID], [EventTimestamp], [SurgeReadingKW], [ThresholdLimitKW], [Severity], [Status], [Notes]) VALUES (5003, 3, 1001, CAST(N'2026-09-01T11:23:41.217' AS DateTime), CAST(10.00 AS Decimal(8, 2)), CAST(90.00 AS Decimal(8, 2)), N'Low', N'Resolved', N'')
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsumptionLogs] ON 

INSERT [dbo].[ConsumptionLogs] ([LogID], [MeterID], [Timestamp], [Voltage], [CurrentAmps], [PowerKW], [PeakHour]) VALUES (1, 1001, CAST(N'2026-08-31T00:00:00.000' AS DateTime), CAST(479.50 AS Decimal(6, 2)), CAST(150.20 AS Decimal(6, 2)), CAST(72.02 AS Decimal(8, 2)), 0)
INSERT [dbo].[ConsumptionLogs] ([LogID], [MeterID], [Timestamp], [Voltage], [CurrentAmps], [PowerKW], [PeakHour]) VALUES (2, 1002, CAST(N'2026-08-31T00:00:00.000' AS DateTime), CAST(414.80 AS Decimal(6, 2)), CAST(210.50 AS Decimal(6, 2)), CAST(87.31 AS Decimal(8, 2)), 0)
INSERT [dbo].[ConsumptionLogs] ([LogID], [MeterID], [Timestamp], [Voltage], [CurrentAmps], [PowerKW], [PeakHour]) VALUES (3, 1003, CAST(N'2026-08-31T00:00:00.000' AS DateTime), CAST(239.90 AS Decimal(6, 2)), CAST(85.10 AS Decimal(6, 2)), CAST(20.42 AS Decimal(8, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[ConsumptionLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[EnergyMeters] ON 

INSERT [dbo].[EnergyMeters] ([MeterID], [MeterSerialNumber], [FacilityID], [LocationZone], [MaxVoltageCapacity], [BaseTariffRate], [InstallationDate], [IsActive], [IsIndustrial], [Description]) VALUES (1001, N'870507f1-7cf8-4326-a934-ad7e671c76db', 1, N'', CAST(10.00 AS Decimal(8, 2)), CAST(0.0000 AS Decimal(6, 4)), CAST(N'2026-09-01' AS Date), 1, 1, N'jhdsfb')
INSERT [dbo].[EnergyMeters] ([MeterID], [MeterSerialNumber], [FacilityID], [LocationZone], [MaxVoltageCapacity], [BaseTariffRate], [InstallationDate], [IsActive], [IsIndustrial], [Description]) VALUES (1002, N'3ed0f67e-5b0a-4be4-a270-7e9040159ad2', 1, N'', CAST(10.00 AS Decimal(8, 2)), CAST(0.0000 AS Decimal(6, 4)), CAST(N'2026-09-01' AS Date), 1, 1, N'jhdsfb')
INSERT [dbo].[EnergyMeters] ([MeterID], [MeterSerialNumber], [FacilityID], [LocationZone], [MaxVoltageCapacity], [BaseTariffRate], [InstallationDate], [IsActive], [IsIndustrial], [Description]) VALUES (1003, N'EM-EAST-003', 3, N'East Zone', CAST(240.00 AS Decimal(8, 2)), CAST(0.1400 AS Decimal(6, 4)), CAST(N'2023-03-10' AS Date), 1, 0, N'Residential Block A Main Feeder')
SET IDENTITY_INSERT [dbo].[EnergyMeters] OFF
GO
SET IDENTITY_INSERT [dbo].[Facilities] ON 

INSERT [dbo].[Facilities] ([FacilityID], [FacilityName], [LocationZone], [ContactEmail], [GridRegion], [MaxCapacityKW], [IsActive]) VALUES (1, N'Apex Logistics Center', N'North Zone', N'ops@apexlogistics.com', N'Grid-North-01', CAST(1500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Facilities] ([FacilityID], [FacilityName], [LocationZone], [ContactEmail], [GridRegion], [MaxCapacityKW], [IsActive]) VALUES (2, N'Metro General Hospital', N'Central Zone', N'facilities@metrohospital.org', N'Grid-Central-02', CAST(5000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Facilities] ([FacilityID], [FacilityName], [LocationZone], [ContactEmail], [GridRegion], [MaxCapacityKW], [IsActive]) VALUES (3, N'Sunrise Residential Complex', N'East Zone', N'management@sunriseliving.com', N'Grid-East-01', CAST(800.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Facilities] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Operator')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Technician')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [IsActive], [RoleId]) VALUES (1, N'mafaz', N'1234', 1, 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [IsActive], [RoleId]) VALUES (2, N'another', N'1234', 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EnergyMe__36F827E83C94BAF0]    Script Date: 01-09-2026 16:06:04 ******/
ALTER TABLE [dbo].[EnergyMeters] ADD UNIQUE NONCLUSTERED 
(
	[MeterSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alerts] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[EnergyMeters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EnergyMeters] ADD  DEFAULT ((0)) FOR [IsIndustrial]
GO
ALTER TABLE [dbo].[Facilities] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD FOREIGN KEY([MeterID])
REFERENCES [dbo].[EnergyMeters] ([MeterID])
GO
ALTER TABLE [dbo].[ConsumptionLogs]  WITH NOCHECK ADD FOREIGN KEY([MeterID])
REFERENCES [dbo].[EnergyMeters] ([MeterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergyMeters]  WITH NOCHECK ADD FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD CHECK  (([Severity]='Critical' OR [Severity]='Medium' OR [Severity]='Low'))
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD CHECK  (([Status]='Dismissed' OR [Status]='Resolved' OR [Status]='Pending'))
GO
USE [master]
GO
